.simple-animation {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  animation: simpleMove 2s ease-in-out infinite;
}
@keyframes simpleMove {
  0% {
    transform: translateX(0);
    background-color: lightgreen;
  }
  50% {
    transform: translateX(200px);
    background-color: yellow;
  }
  100% {
    transform: translateX(0px);
    background-color: lightgreen;
  }
}
